<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WCMC Course</title>
<script>document.write('<base href="' + document.location + '" />');</script>
    <!-- JQuery and Opencpu JS -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <!--<script src="js/opencpu-0.5.js"></script>-->
    <script src="js/opencpu.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/gaussian.js"></script>

    <!-- Bootstrap Core CSS and JS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <!-- Templates -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Side-Bar CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet"><!--making the sidebar collapsible-->

    <!-- Other -->
    <script src="js/bootstrap-slider.min.js"></script><!--http://seiyria.com/bootstrap-slider/-->
    <link href="css/bootstrap-slider.min.css" rel="stylesheet"><!--http://seiyria.com/bootstrap-slider/-->
    <script src="js/statistics-distributions.js"></script><!--Statistical Distribion-->
    <script src="js/math.js"></script><!--For matrix operation-->
    <script src="js/canvasjs.min.js"></script><!--Plot-->
    <link href="css/bootstrap-editable.css" rel="stylesheet"><!--Bootstrap Editable-->
    <script src="js/bootstrap-editable.min.js"></script><!--Bootstrap Editable-->
    <link href="css/xeditable.css" rel="stylesheet"><!--X Editable AngularJS-->
    <script src="js/xeditable.js"></script><!--X Editable AngularJS-->
    <link href="css/select2.css" rel="stylesheet" />
    <script src="js/select2.full.js"></script>
    <script src="js/bootstrap-colorpicker.js"></script>
    <link href="css/bootstrap-colorpicker.css" rel="stylesheet" />
    <script src="js/multiple-select.min.js"></script><!--multiple selection angularJS-->
    <link href="css/multiple-select.min.css" rel="stylesheet"><!--multiple selection angularJS-->

    <!-- My JS -->
    <script src="js/myJS.js"></script>
    <script src="js/NormalizationToUnivariateToMultivariate.js"></script>
    <!-- My CSS -->

    <!-- Scrolling Nav JavaScript&CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-gr-c-s-loaded = "true" style = 'font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;'   ng-app="app_norm" ng-controller="ctrl_norm">
    <div id="wrapper" class="toggled" style="height:100%">
      <!-- Sidebar -->
      <!-- /#sidebar-wrapper -->
    <div id="sidebar-wrapper" style="font-size:80%;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        WCMC Statistics Course
                    </a>
                </li>
                <li>
                  <a ha href="javascript:;" data-toggle="collapse" data-target="#bionw"> How Many Samples Do We Need? </a>
                  <ul id="bionw" class="collapse">
                    <li><a href="Single_Population.html"><i class="fa fa-angle-double-right"></i> Single Population</a></li>
                    <li><a href="Two_Population.html"><i class="fa fa-angle-double-right"></i> Two Populations</a></li>
                    <li><a href="Sample_Size.html"><i class="fa fa-key"></i> Sample Size Calculator</a></li>
                  </ul>
                </li>
                <li>
                    <a href="Normalization.html">Data Uploading and Processing</a>
                </li>
                <li>
                    <a href="Univariate_Analysis.html">Univariate Analysis</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
    <!-- Page Content -->
    <div id="page-content-wrapper" style="height:100%">
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-navicon"></i></a>
    <h1>Data Processing</h1>
    <p class="text-muted">We pay more attention to data processing than what we think. It is strongly recommanded to normalize data carefully and manually. Usually, a statistician would spend 80% of time on data processing.</p>
      <div class="container-fluid" style="height:100%">
      <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" id="mytabs">
          <li class="active"><a href="#upload-pills" data-toggle="tab">Upload Data</a>
          </li>
          <li><a href="#dealwithmissingvalue-pills" data-toggle="tab">Deal with Missing Value</a>
          </li>
          <li><a href="#normalization-pills" data-toggle="tab">Data Normalization</a>
          </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
          <div class="tab-pane fade in active" id="upload-pills" ng-click="enablecontinueupload();">
              <h4>Upload File</h4>
              <input type="file" id="upload_norm" accept=".xlsx,.csv"><br /><br /><hr />
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2" ng-hide="compoundName=='sudo'">
                  <div ng-switch="compoundName">
                    <div ng-switch-when="false">
                      <div class="form-group has-error">
                          <label class="control-label">compound name:</label>
                            <select  class="form-control"  ng-model="compound.name">
                              <option ng-repeat="featurename in featurenames">{{featurename}}</option>
                            </select>
                      </div>
                    </div>
                    <div ng-switch-when="compound_name">
                      <div class="form-group has-success">
                          <label class="control-label">compound_name found!</label>
                            <select  class="form-control" disabled ng-model="compound.name">
                              <option ng-selected="true">compound_name</option>
                              <option ng-repeat="featurename in featurenames">{{featurename}}</option>
                            </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-8 col-lg-offset-2" ng-hide="sampleName=='sudo'">
                  <div ng-switch="sampleName">
                    <div ng-switch-when="false">
                      <div class="form-group has-warning">
                          <label class="control-label">sample name:</label><span class='text-warning pull-right'>'ID' is added</span>
                            <select  class="form-control"  ng-model="sample.name" ng-init="sample.name = 'ID'">
                              <option ng-repeat="phenotypename in phenotypenames">{{phenotypename}}</option>
                            </select>
                      </div>
                    </div>
                    <div ng-switch-when="sample_name">
                      <div class="form-group has-success">
                          <label class="control-label">sample_name found!</label>
                            <select  class="form-control" disabled ng-model="sample.name">
                              <option ng-repeat="phenotypename in phenotypenames">{{phenotypename}}</option>
                            </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                  <a ng-click="submitupload();" class="btn btn-success btn-block" id="continueupload" ng-show="continueuploadshow">Continue</a>
                </div>
              </div>
          </div>
          <div class="tab-pane fade" id="dealwithmissingvalue-pills">
            <div class="row" style="height:400px;">
              <div class="col-lg-3">
                <h4>Missing Value</h4>
                <div class="form-group">
                    <label>Who are missing values?</label><em class="pull-right text-info">For example: &lt;500, 0, missing</em>
                    <input class="form-control" placeholder="By default, empty cells are missing value." ng-model="missindex">
                </div>
                <p id="misstext" class="text-danger">We found <span id="numofmiss"></span>(<span id="percofmiss"></span>%) missing values in the data.</p>
                <div class="form-group">
                  <label>How to deal with missing value?</label>
                  <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model='removemiss'>Remove features with &gt;
                        <a href="#" id="missingPerc_norm" editable-text="tolmissingperc" class="editable" ng-model="tolmissingperc" >{{tolmissingperc||'empty'}}</a>% missing values.
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                        <input type="checkbox" id="missimpute_norm" ng-model="missimpute" disabled>
                        <span style="font-weight:normal;">Replace missing values by column (feature)</span>
                        </label> <a href="#" id="missingreplacemethod_norm" data-type="select" data-pk="1" data-title="Select a method" ng-model="missingreplacemethod">{{missingreplacemethod}}</a> for each of the <a href="#" id="missingreplacemethodgroup_norm" data-type="select2" data-pk="1"  data-title="Select country"></a> group.
                  </div>
                </div>
                <div id="missinginfo">
                </div>
                <button type="button" class="btn btn-outline btn-primary" ng-click="calnumberofmiss();">Submit</button>
              </div>
              <div class="col-lg-9">
                  <ul class="nav nav-pills">
                          <li class="active"><a href="#missingonlymissingcompounds-pills" data-toggle="tab">Missing Value Compounds</a>
                          </li>
                          <li><a href="#missingallcompounds-pills" data-toggle="tab">All Compounds</a>
                          </li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane fade in active" id="missingonlymissingcompounds-pills">
                      <div id="misingonlymissingplot"></div>
                    </div>
                    <div class="tab-pane fade" id="missingallcompounds-pills">
                      <div id="misingallplot"></div>
                    </div>
                  </div>
              </div>
            </div><br /><br /><hr />
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <button type="button" class="btn btn-success btn-block" ng-click="dealwithmissing();" id="dealwithmissingcontinue">Continue</button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="normalization-pills">
              <h4>Samplewise Normalization</h4>
              <p class='text-muted'>Samplewise normalization normalize data between samples. For example, if samples are ran in different machines, then different machine may have different effect on samples. Another exmaple is that if samples are ran over a long period of time, then the samples may drift. Samplewise normalization share a common formula: after = before * radio, where ratio depends on different samplewise normalization method.</p>
              <center>
                <form>
                  <label class="radio-inline">
                  <input type="radio" ng-model="samplewisenorm" value="none">None
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="samplewisenorm" value="mTIC">mTIC
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="samplewisenorm" value="batcheffect">Batch Effect
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="samplewisenorm" value="samplespecific">Sample Specific
                  </label>
                </form>
             </center>
             <div class="row"><div class="col-lg-2 col-lg-offset-5">
               <div ng-switch="samplewisenorm">
              <div ng-switch-when="mTIC">
                <label>Which Column Tells Known Compounds? </label><br />
                <select class="form-control" ng-model="samplewisenormindex.value">
                  <option ng-repeat="featurename in featurenames" value="{{featurename}}">{{featurename}}</option>
                </select>
              </div>
              <div ng-switch-when="batcheffect">
                <label>Which Column Tells Batch Names? </label><br />
                <select class="form-control" ng-model="samplewisenormindex.value">
                  <option ng-repeat="phenotypename in phenotypenames" value="{{phenotypename}}">{{phenotypename}}</option>
                </select>
              </div>
              <div ng-switch-when="samplespecific">
                <label>Which Column Tells the Ratio? </label><br />
                <select class="form-control" ng-model="samplewisenormindex.value">
                  <option ng-repeat="phenotypename in phenotypenames" value="{{phenotypename}}">{{phenotypename}}</option>
                </select>
              </div>
             </div>
             </div></div><hr />
             <h4>Data Transformation</h4>
             <p class='text-muted'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                 <center><form>
                  <label class="radio-inline">
                  <input type="radio" ng-model="transformation.value" value="none">None
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="transformation.value" value="log">generalized log
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="transformation.value" value="power">power
                  </label>
                </form></center>
                <div class="row"><div class="col-lg-2 col-lg-offset-5">
             <div ng-switch="transformation.value">
            <div ng-switch-when="log">
              <div class="row">
                <div class="col-lg-6">
                  <label>a: </label><br />
                  <input class="form-control" ng-model="loga.value" type="number">
                </div>
                <div class="col-lg-6">
                  <label>base: </label><br />
                  <input class="form-control" ng-model="logbase.value" type="number" min=2>
                </div>
              </div>

            </div>
            <div ng-switch-when="power">
              <div class="col-lg-4 col-lg-offset-4">
                <label>power: </label><br />
                <input class="form-control" ng-model="power.value" type="number">
              </div>

            </div>
           </div></div></div><hr />
              <h4>Featurewise Scaling</h4>
              <p class='text-muted'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <center><form>
                  <label class="radio-inline">
                  <input type="radio" ng-model="scaling.value" value="none">None
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="scaling.value" value="meancentering">Mean Centering
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="scaling.value" value="autoscaling">Auto Scaling
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="scaling.value" value="paretoscaling">Pareto Scaling
                  </label>
                  <label class="radio-inline">
                  <input type="radio" ng-model="scaling.value" value="rangescaling">Range Scaling
                  </label>
                </form></center><br /><br />
          <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
              <button type="button" class="btn btn-warning btn-block btn-outline" ng-click="visualizenormalization();"><strong>Visualize</strong></button>
            </div>
            <div class="col-lg-2 col-lg-offset-1">
              <button type="button" class="btn btn-success btn-block" ng-click="applynormalizationtoUni();">Univariate Analysis</button>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-success btn-block">Multivariate Analysis</button>
            </div>
          </div><br />
          <div class="panel panel-default">
              <div class="panel-heading">
                  <i class="glyphicon glyphicon-indent-left"></i> Visualization
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-3">
                    <label class="control-label">Coloring:</label>
                      <select  class="form-control"  ng-model="PCA.color" ng-init="PCA.color = 'species'">
                        <option ng-repeat="phenotypename in phenotypenames">{{phenotypename}}</option>
                      </select>
                    <label class="control-label">Opacity:</label><br />
                      <input id="pca_opacity" type="number" data-slider-min="0" data-slider-max="1" data-slider-step="0.05" data-slider-value="0.8" ng-model="PCA.opacity"/><br />
                    <label>Ellipse Needed?
                      <input type="checkbox" ng-model="PCA.ellipseNeeded">
                    </label><br />


                      <label> Line Type for Ellipses: </label><br>
                      <select class="form-control" id="EllipseLineType_normalization" ng-model="PCA.ellipseLineType">
                        <option value="solid">solid</option>
                        <option value="dot">dot</option>
                        <option value="dash">dash</option>
                        <option value="longdash">longdash</option>
                        <option value="dashdot">dashdot</option>
                        <option value="longdashdot">longdashdot</option>
                      </select><br>


                    <label>Show Legend?
                      <input type="checkbox" ng-model="PCA.showlegend">
                    </label><br />
                    <label class="control-label">Dots Size:</label><br />
                      <input id="pca_dotsize" type="number" data-slider-min="5" data-slider-max="30" data-slider-step="1" data-slider-value="15" ng-model="PCA.dotsize"/><br />
                    <label class="control-label">Ellipse Line Size:</label><br />
                      <input id="pca_ellipse_line_width" type="number" data-slider-min="0.1" data-slider-max="5" data-slider-step="0.1" data-slider-value="1" ng-model="PCA.ellipseLineWidth"/><br />
                      <label class="control-label">Ellipse Confidence Level:</label><br />
                      <input id="pca_ellipse_confidenceLevel" type="number" data-slider-min="0.1" data-slider-max="1" data-slider-step="0.01" data-slider-value="0.95" ng-model="PCA.ellipseConfidenceLevel"/><br />
                      <label class="control-label">Paper Color:</label><br />
                      <div id="pca_paper_bgcolor" class="input-group colorpicker-component">
                          <input id="pca_paper_bgcolor_value" type="text" value="#ffffff" class="form-control" />
                          <span class="input-group-addon"><i></i></span>
                      </div>
                       <label class="control-label">Plot Color:</label><br />
                      <div id="pca_plot_bgcolor" class="input-group colorpicker-component">
                          <input id="pca_plot_bgcolor_value" type="text" value="#ffffff" class="form-control" />
                          <span class="input-group-addon"><i></i></span>
                      </div><br />
                      <label>Title:<br />
                        <input class="form-control" ng-model="PCA.title">
                      </label>
                      <div class="row">
                        <div class="col-lg-6">
                            <label>Plot Height:
                                <input class="form-control" type="number" ng-model="PCA.height"
                                       min="200" max="1000">
                             </label>
                        </div>
                        <div class="col-lg-6">
                            <label>Plot Width:
                                <input class="form-control" type="number" ng-model="PCA.width"
                                       min="200" max="1000">
                             </label>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="drawPCA();">Submit Changes</button>
                  </div>
                  <div class="col-lg-6">
                    <div id="PCAplot"></div>
                  </div>
                  <div class="col-lg-3">
                    <label class="control-label">Select Factor:</label>
                      <select  class="form-control"  ng-model="Selected.factor" ng-init="Selected.factor = 'treatment'" ng-change="updateSelectedPlot();">
                        <option ng-repeat="phenotypename in phenotypenames">{{phenotypename}}</option>
                      </select>
                    <div id="Selectedplot"></div>
                    <div class="row">
                      <div class="col-lg-6">
                        <label>Plot Height:
                                <input class="form-control" type="number" ng-model="Selected.height"
                                       min="200" max="1000">
                             </label>
                      </div>
                      <div class="col-lg-6">
                        <label>Plot Width:
                                <input class="form-control" type="number" ng-model="Selected.width"
                                       min="200" max="1000">
                             </label>
                      </div>
                    </div>
                    <div class="row">
                        <label>xAxis text size:
                          <input class="form-control" type="number" ng-model="Selected.xAxisTextSize"
                                 min="2" max="20">
                       </label>
                    </div>
                  </div>
                </div><hr />
                <div class="row">
                    <div id="BOXplots"></div>
                </div>


              </div>
          </div>
          </div>
      </div>

  </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
</body>

</html>
