<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WCMC Course</title>

    <!-- JQuery and Opencpu JS -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <!--<script src="js/opencpu-0.5.js"></script>
    <script src="js/opencpu.js"></script>-->
    <script src="js/angular.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/gaussian.js"></script>

    <!-- Bootstrap Core CSS and JS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <!-- Templates -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Side-Bar CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet"><!--making the sidebar collapsible-->

    <!-- Other -->
    <script src="js/bootstrap-slider.min.js"></script><!--http://seiyria.com/bootstrap-slider/-->
    <link href="css/bootstrap-slider.min.css" rel="stylesheet"><!--http://seiyria.com/bootstrap-slider/-->
    <script src="js/statistics-distributions.js"></script><!--Statistical Distribion-->
    <script src="js/math.js"></script><!--For matrix operation-->
    <script src="js/canvasjs.min.js"></script><!--Plot-->


    <!-- My JS -->
    <script src="js/myJS.js"></script>
    <script src="js/Sample_Size.js"></script>
    <!-- My CSS -->
    <link href="css/Sample_Size.css" rel="stylesheet"><!--make sample-plot plot session-->


</head>

<body  style = 'font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;' ng-app="samplesize" ng-controller="samplesizectrl">

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="font-size:80%;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        WCMC Statistics Course
                    </a>
                </li>
                <li>
                  <a ha href="javascript:;" data-toggle="collapse" data-target="#bionw"> How Many Samples Do We Need? </a>
                  <ul id="bionw" class="collapse">
                    <li><a href="Single_Population.html"><i class="fa fa-angle-double-right"></i> Single Population</a></li>
                    <li><a href="Two_Population.html"><i class="fa fa-angle-double-right"></i> Two Populations</a></li>
                    <li><a href="Sample_Size.html"><i class="fa fa-key"></i> Sample Size Calculator</a></li>
                  </ul>
                </li>
                <li>
                    <a href="Univariate_Analysis.html">Univariate Analysis</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-navicon"></i></a>
            <div class="container-fluid">

   <div class="row">
                    <div class="col-lg-12">
                        <h1>Sample Size Calculator</h1>
                        <p style = 'font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;'>Calculate the sample size for different hypothesis testing.</p><hr />
                        <h3><strong>1. What would you like to test?</strong></h3>
                        <p>This is the first thing you need to know. There are different kinds of statistical tests correspondnig to different experimental hypothesis.
                        For example, you may assume that the average salary of males is higher than female. In this case, you are comparing two group means. Then
                        you should choose <em>'one factor --> two independent groups --> t-test'</em>.</p>
                        <p>Sometimes people are interested in the interaction between two factors. For example, you may be interested in whether the education level, say 'school',
                        'collage' and 'university', has different influence on salary of male and female. You have two factors, one is education and the other one is
                        sex. In this case, you should select <em>'two factors --> independent * independent --> two-way ANOVA'</em>. More explanation are given
                        <a href="url" target="_blank">here</a>.</p>
                        <div class="well">
                          <div class="row">
                            <div class="col-lg-4">
                                <form><label>Factors</label>
                                    <div class="radio">
                                    <label><input type="radio" ng-model="factors" value="one factor" >one factor</label>
                                    </div>
                                    <div class="radio">
                                    <label><input type="radio" ng-model="factors" value="two factors">two factors</label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4">
                              <div ng-switch="factors">
                                <div ng-switch-when="one factor">
                                  <form><label>Groups</label>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="two independent groups" ng-change = "calculatesamplesize();" >two independent groups</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="two paired groups" ng-change = "calculatesamplesize();" >two paired groups</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="multiple independent groups" ng-change = "calculatesamplesize();" >multiple independent groups</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="multiple paired groups" ng-change = "calculatesamplesize();" >multiple paired groups</label>
                                        </div>
                                    </form>
                                </div>
                                <div ng-switch-when="two factors">
                                  <form><label>Groups</label>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="independent*independent" ng-change = "calculatesamplesize();">independent*independent</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="independent*paired" ng-change = "calculatesamplesize();">independent*paired</label>
                                        </div>
                                        <div class="radio">
                                        <label><input type="radio" ng-model="test.groups" value="paired*paired" disabled>paired*paired</label>
                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <br />
                              <div ng-switch="test.groups">
                                <div ng-switch-when="two independent groups">
                                  <h1><em>t test</em></h1>
                                </div>
                                <div ng-switch-when="two paired groups">
                                  <h1><em>paired t test</em></h1>
                                </div>
                                <div ng-switch-when="multiple independent groups">
                                  <h1><em>ANOVA</em></h1>
                                </div>
                                <div ng-switch-when="multiple paired groups">
                                  <h1><em>repeated ANOVA</em></h1>
                                </div>
                                <div ng-switch-when="independent*independent">
                                  <h1><em>two-way ANOVA</em></h1>
                                </div>
                                <div ng-switch-when="independent*paired">
                                  <h1><em>mixed ANOVA</em></h1>
                                </div>
                                <div ng-switch-when="paired*paired">
                                  <h1><em>two-way repeated ANOVA</em></h1>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <h3><strong>2. What is the effect size of populations?</strong></h3>
                        <p>In statistics, effect size (d) is a conscept to quantify how distinguish populations are. Different test has different ways of measuring the effect size
                        but usually effect size envolves with population means and population standard deviations. If you cannot estimate the effect size, you can determine it using
                        means and standard deviations <span class="text-muted">(click the <em>determine!</em> button)</span>. </p>
                        <div class="well">
                          <div class="row">
                            <div class="col-lg-4 col-lg-offset-4">
                              <div class="form-group">
                                <label>Effect Size: </label>
                                <em ng-show="test.groups=='two independent groups'||test.groups=='two paired groups'" class="text-muted">small (0.2), medium (0.5) and large (0.8) </em>
                                <em ng-show="test.groups=='multiple independent groups'||test.groups=='multiple paired groups'" class="text-muted">small (0.1), medium (0.25) and large (0.4) </em>
                                <span ng-show="test.groups=='two independent groups'||test.groups=='two paired groups'" class="pull-right"><a href="http://rpsychologist.com/d3/cohend/" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                <input class="form-control" id = 'effectsize_samplesize' type = 'number' ng-model = "effectsizevalue"  ng-change = "calculatesamplesize();">
                              </div>
                            </div>
                            <div class="col-lg-4">
                              <div class="form-group">
                                <label><font color="white">&nbsp;</font></label><br />
                                <button type="button" class="btn btn-outline btn-default" data-toggle="modal" data-target="#effectsizemodal">
                                  <i class = "fa fa-angle-double-left"></i> Determine!</button>
                              </div>
<div class="modal fade" id="effectsizemodal" tabindex="-1" role="dialog" aria-labelledby="powerlabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="powerlabel"><i class="fa fa-lightbulb-o"></i> Determine the Effect Size</h4>
      </div>
      <div class="modal-body">
                               <div ng-switch="test.groups">
                                <div ng-switch-when="two independent groups">
                                  <h3><em>t test</em></h3>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <label>Mean 1</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.mean1" ng-change="calculateeffectsize();">
                                    </div>
                                    <div class="col-lg-6">
                                      <label>SD 1</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.sd1" ng-change="calculateeffectsize();" min=0>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <label>Mean 2</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.mean2" ng-change="calculateeffectsize();">
                                    </div>
                                    <div class="col-lg-6">
                                      <label>SD 2</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.sd2" ng-change="calculateeffectsize();" min=0>
                                    </div>
                                  </div><hr />
                                  <div class="row">
                                    <div class="col-lg-12 effectsizedetermined" align="center">
                                      Effect size = {{effectsizevalue.toFixed(4)}}
                                    </div>
                                  </div>
                                </div>
                                <div ng-switch-when="two paired groups">
                                  <h3><em>paired t test</em></h3>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <label>Mean 1</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.mean1" ng-change="calculateeffectsize();">
                                    </div>
                                    <div class="col-lg-6">
                                      <label>SD 1</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.sd1" ng-change="calculateeffectsize();" min=0>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-6">
                                      <label>Mean 2</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.mean2" ng-change="calculateeffectsize();">
                                    </div>
                                    <div class="col-lg-6">
                                      <label>SD 2</label>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.sd2" ng-change="calculateeffectsize();" min=0>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12" align="center">
                                      <label>correlation between two groups</label><span class="pull-right"><a href="http://rpsychologist.com/d3/correlation/" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.corr" ng-change="calculateeffectsize();" min=0 max=1 step=0.05>
                                    </div>
                                  </div><hr />
                                  <div class="row">
                                    <div class="col-lg-12 effectsizedetermined" align="center">
                                      Effect size = {{effectsizevalue.toFixed(4)}}
                                    </div>
                                  </div>
                                </div>
                                <div ng-switch-when="multiple independent groups">
                                  <h3><em>ANOVA</em></h3>
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <label>Mean 1</label>
                                                <input class="form-control" type = 'number' ng-model="caleffectsize.mean1" ng-change="calculateeffectsize();">
                                              </div>
                                              <div class="col-lg-6">
                                                <label>SD 1</label>
                                                <input class="form-control" type = 'number' ng-model="caleffectsize.sd1" ng-change="calculateeffectsize();" min=0>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <label>Mean 2</label>
                                                <input class="form-control" type = 'number' ng-model="caleffectsize.mean2" ng-change="calculateeffectsize();">
                                              </div>
                                              <div class="col-lg-6">
                                                <label>SD 2</label>
                                                <input class="form-control" type = 'number' ng-model="caleffectsize.sd2" ng-change="calculateeffectsize();" min=0>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col-lg-6">
                                                <label>Mean 3</label>
                                                <input class="form-control" type = 'number' ng-model="caleffectsize.mean3" ng-change="calculateeffectsize();">
                                              </div>
                                              <div class="col-lg-6">
                                                <label>SD 3</label>
                                                <input class="form-control" type = 'number' ng-model="caleffectsize.sd3" ng-change="calculateeffectsize();" min=0>
                                              </div>
                                            </div>
                                            <div id="addedeffectsized_samplesize"></div>
                                            <br /><button addeffectsizes class="pull-right btn btn-default btn-xs btn-outline">
                          <i class="fa fa-plus"></i></button><button class='pull-right btn btn-default btn-xs btn-outline' removeeffectsize><i class='fa fa-minus'></i></button><hr />
                                            <div class="row">
                                              <div class="col-lg-12 effectsizedetermined" align="center">
                                                Effect size = {{effectsizevalue.toFixed(4)}}
                                              </div>
                                            </div>
                                </div>
                                <div ng-switch-when="multiple paired groups">
                                  <h3><em>repeated ANOVA</em></h3>
                                  <div class="row">
                                      <div class="col-lg-6">
                                        <label>Mean 1</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.mean1" ng-change="calculateeffectsize();">
                                      </div>
                                      <div class="col-lg-6">
                                        <label>SD 1</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.sd1" ng-change="calculateeffectsize();" min=0>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <label>Mean 2</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.mean2" ng-change="calculateeffectsize();">
                                      </div>
                                      <div class="col-lg-6">
                                        <label>SD 2</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.sd2" ng-change="calculateeffectsize();" min=0>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <label>Mean 3</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.mean3" ng-change="calculateeffectsize();">
                                      </div>
                                      <div class="col-lg-6">
                                        <label>SD 3</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.sd3" ng-change="calculateeffectsize();" min=0>
                                      </div>
                                    </div>
                                    <div id="addedeffectsized_samplesize"></div>
                                    <br /><button addeffectsizes class="pull-right btn btn-default btn-xs btn-outline">
                  <i class="fa fa-plus"></i></button><button class='pull-right btn btn-default btn-xs btn-outline' removeeffectsize><i class='fa fa-minus'></i></button>
                                    <div class="row">
                                      <div class="col-lg-12" align="center">
                                      <label>correlation between two groups</label><span class="pull-right"><a href="http://rpsychologist.com/d3/correlation/" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                      <input class="form-control" type = 'number' ng-model="caleffectsize.corr" ng-change="calculateeffectsize();" min=0 max=1 step=0.05>
                                    </div>
                                    </div><hr />
                                    <div class="row">
                                      <div class="col-lg-12 effectsizedetermined" align="center">
                                        Effect size = {{effectsizevalue.toFixed(4)}}
                                      </div>
                                    </div>
                                </div>
                                <div ng-switch-when="independent*independent">
                                  <h3><em>two-way ANOVA</em></h3>
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <label>Variance explained</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.varianceexplained" ng-change="calculateeffectsize();" min = 0>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Total variance</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.totalvariance" ng-change="calculateeffectsize();" min = "{{caleffectsize.varianceexplained}}">
                                    </div>
                                  </div>
                                  <div class="col-lg-12 effectsizedetermined" align="center">
                                        Effect size = {{effectsizevalue.toFixed(4)}}
                                  </div>
                                </div>
                                <div ng-switch-when="independent*paired">
                                  <h3><em>mixed ANOVA</em></h3>
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <label>Variance explained</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.varianceexplained" ng-change="calculateeffectsize();" min = 0>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Total variance</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.totalvariance" ng-change="calculateeffectsize();" min = "{{caleffectsize.varianceexplained}}">
                                    </div>
                                  </div>
                                  <div class="col-lg-12 effectsizedetermined" align="center">
                                        Effect size = {{effectsizevalue.toFixed(4)}}
                                  </div>
                                </div>
                                <div ng-switch-when="paired*paired">
                                  <h3><em>two-way repeated ANOVA</em></h3>
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <label>Variance explained</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.varianceexplained" ng-change="calculateeffectsize();" min = 0>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Total variance</label>
                                        <input class="form-control" type = 'number' ng-model="caleffectsize.totalvariance" ng-change="calculateeffectsize();" min = "{{caleffectsize.varianceexplained}}">
                                    </div>
                                  </div>
                                  <div class="col-lg-12 effectsizedetermined" align="center">
                                        Effect size = {{effectsizevalue.toFixed(4)}}
                                  </div>
                                </div>
                              </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="calculatesamplesize();">Push it!</button>
        <button type="button" class="btn btn-warning" ng-click="visualizeeffectsize();" data-toggle="modal" data-target="#visualizeeffectsizemodal" >Visualize it!</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="visualizeeffectsizemodal" tabindex="-1" role="dialog" aria-labelledby="visualizepowerlabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="visualizepowerlabel"><i class="fa fa-lightbulb-o"></i> Visualization of Effect Size</h4>
      </div>
      <div class="modal-body">
        <div id="visualizeeffectsize_samplesize" style="width800px;height:600px">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-Warning" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>

                            </div>
                          </div>
                        </div>
                        <h3><strong>3. Other Parameters.</strong></h3>
                        <p>Usualy in statistical power analysis involved are four elements, sample size, type I error rate (&alpha;), power and effect size. Given any three of them,
                        we can calculate the fourth one. In our case, we are interested in sample size, thus we also need to know the &alpha; and power. In addition, other parameter
                        may serve, like number of groups, Nonsphericity correction (&epsilon;), for complex hypothesis testing. Detail information are available
                        <a href="http://www.gpower.hhu.de/fileadmin/redaktion/Fakultaeten/Mathematisch-Naturwissenschaftliche_Fakultaet/Psychologie/AAP/gpower/GPower3-BRM-Paper.pdf"
                        target="_blank">here</a>.</p>
                        <div class="well">
                          <div class="row">
                            <div class="col-lg-2 col-lg-offset-4">
                              <label class="col-md-4 control-label">α:</label>
                              <input id="alpha_samplesize" type="number" placeholder="" class="form-control input-md" required="" min = 0 ng-model="alpha" step = 0.005 max = 1 ng-change = "calculatesamplesize();">
                            </div>
                            <div class="col-lg-2">
                              <label class="col-md-4 control-label">Power:</label>
                              <input id="power_samplesize" type="number" placeholder="" class="form-control input-md" required="" min = 0 ng-model = "power" step = "0.005" max=1  ng-change = "calculatesamplesize();">
                            </div>
                          </div><hr />
                             <div ng-switch="test.groups">
                               <div ng-switch-when="multiple independent groups">
                                 <div class="row">
                                   <div class="col-lg-4 col-lg-offset-4">
                                     <label>Number of groups:</label>
                                     <input type="number" class="form-control input-md" ng-model="otherpara.numgroups" min=3 value = "{{numofeffectsizes}}" ng-change = "calculatesamplesize();" />
                                   </div>
                                 </div>
                               </div>
                               <div ng-switch-when="multiple paired groups">
                                 <div class="row">
                                   <div class="col-lg-2 col-lg-offset-3">
                                   <label>Number of paired groups:</label>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.numgroups" min=3 value = "{{Math.min(numofeffectsizes,3)}}" ng-change = "calculatesamplesize();" />
                                 </div>
                                 <div class="col-lg-2">
                                   <label>Correlation among groups:</label><span class="pull-right"><a href="http://rpsychologist.com/d3/correlation/" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.correlation" min=0 max=1 step=0.01 ng-change = "calculatesamplesize();" />
                                 </div>
                                 <div class="col-lg-2">
                                   <label>Nonsphericity Correction(&epsilon;):</label><span class="pull-right"><a href="http://user.qzone.qq.com/412276225/blog/1471916501" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.epsilon" min=0 max=1 step=0.01 ng-change = "calculatesamplesize();" />
                                 </div>
                                 </div>
                               </div>
                               <div ng-switch-when="independent*independent">
                                 <div class="row">
                                   <div class="col-lg-2 col-lg-offset-4">
                                   <label>Number of groups1:</label>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.numgroups1" min=2  ng-change = "calculatesamplesize();" />
                                 </div>
                                 <div class="col-lg-2">
                                   <label>Number of groups2:</label>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.numgroups2" min=2  ng-change = "calculatesamplesize();" />
                                 </div>
                                 </div>
                               </div>
                               <div ng-switch-when="independent*paired">
                                 <div class="row">
                                   <div class="col-lg-2 col-lg-offset-2">
                                   <label>Number of independent groups:</label>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.numgroups1" min=2   ng-change = "calculatesamplesize();" />
                                 </div>
                                 <div class="col-lg-2">
                                   <label>Number of paired groups:</label>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.numgroups2" min=2   ng-change = "calculatesamplesize();" />
                                 </div>
                                 <div class="col-lg-2">
                                   <label>Correlation among groups:</label><span class="pull-right"><a href="http://rpsychologist.com/d3/correlation/" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.correlation" min=0 max=1 step=0.01   ng-change = "calculatesamplesize();" />
                                 </div>
                                 <div class="col-lg-2">
                                   <label>Nonsphericity Correction(&epsilon;):</label><span class="pull-right"><a href="http://user.qzone.qq.com/412276225/blog/1471916501" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                   <input type="number" class="form-control input-md" ng-model="otherpara.epsilon" min=0 max=1 step=0.01   ng-change = "calculatesamplesize();" />
                                 </div>
                                 </div>
                               </div>
                             </div>
                        </div>
                        <hr />
                        <div id="section2">
                        <center><h3><strong>Based on the information you provided, the sample size for each group must be at least:</strong></h3></center>
                        <center><h1><strong><span id="samplesize" ng-click="calculatesamplesize();"></span></strong></h1></center>
                        <a href="#section2" class="btn btn-info pull-right"  id="requestplot" ng-click="toggleplot();powersampleplot();">Power-Sample plot</a>
                        </div>
                    </div>
                </div>
<div ng-show="show" style="height:1000px;">
<center><div id="chartContainer" style="height: 700px; width: 70%;"></div></center>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <label>Sample Size Range</label>
    <input class="form-control" placeholder="min-max,by" ng-model="samplerange">
  </div>
  </div>
  <div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <label>Effect Sizes</label>
    <input class="form-control" placeholder="value1,value2,value3" ng-model="effectsizerange" min = 0>
  </div>
</div>
  <div class="row">
  <div class="col-lg-1 col-lg-offset-7">
    <button class="btn btn-info btn-block"  id="updateplot" ng-click="powersampleplot();">Update</button>
  </div>
</div>
</div>


            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
