<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WCMC Course</title>

    <!-- JQuery and Opencpu JS -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <!-- <script src="js/opencpu-0.5.js"></script> -->
    <script src="js/angular.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/gaussian.js"></script>

    <!-- Bootstrap Core CSS and JS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <!-- Templates -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Side-Bar CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet"><!--making the sidebar collapsible-->

    <!-- Other -->
    <script src="js/bootstrap-slider.min.js"></script><!--http://seiyria.com/bootstrap-slider/-->
    <link href="css/bootstrap-slider.min.css" rel="stylesheet"><!--http://seiyria.com/bootstrap-slider/-->



    <!-- My JS -->
    <script src="js/myJS.js"></script>
    <script src="js/Single_Population.js"></script>
    <!-- My CSS -->
     <link href="css/Single_Population.css" rel="stylesheet"><!--making the sidebar collapsible-->


</head>

<body   style = 'font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;'  ng-app="populationplot_singlepopulation" ng-controller="populationplotctrl_singlepopulation">


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="font-size:80%;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        WCMC Statistics Course
                    </a>
                </li>
                <li>
                  <a ha href="javascript:;" data-toggle="collapse" data-target="#bionw"> How Many Samples Do We Need? </a>
                  <ul id="bionw" class="collapse">
                    <li><a href="Single_Population.html"><i class="fa fa-angle-double-right"></i> Single Population</a></li>
                    <li><a href="Two_Population.html"><i class="fa fa-angle-double-right"></i> Two Populations</a></li>
                    <li><a href="Sample_Size.html"><i class="fa fa-key"></i> Sample Size Calculator</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-navicon"></i></a>
            <div class="container-fluid">

                <div class="row">
                  <div class="col-lg-12">
                      <h1>Single Population</h1>
                      <p class = 'text-muted'>A single population is when researchers consider only one measurement, e.g. weight, height, grade point average (GPA), etc.</p><br /><br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class = "fa fa-dashboard"></i> Population
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class = 'col-lg-3'>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group">
                                            <label>Minimum Value</label>
                                            <input class="form-control parameter_singlepopulation" type = 'number' placeholder = "The smallest value of the population" id = "smallestvalue_singlepopulation"
                                            ng-model="min" ng-change="populationplot()" max = "{{max}}">
                                            <div id="test">
                                            </div>
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                                <label>Maximum Value</label>
                                                <input class="form-control parameter_singlepopulation" type = 'number' placeholder = "The largest value of the population" id = "largestvalue_singlepopulation"
                                                ng-model="max" ng-change="populationplot()" min = "{{min}}">
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                            <label>Mean</label>
                                            <input class="form-control parameter_singlepopulation" type = 'number' placeholder = "Average value of population" id = "mean_singlepopulation"
                                            ng-model="mean" ng-change="populationplot()">
                              </div>
                              <div class="form-group">
                                            <label>Standard Deviation </label><em class="text-muted pull-right">&nbsp;This means ~70% of data will be within {{mean - sd}} and {{mean + sd}}</em>
                                            <input class="form-control parameter_singlepopulation" type = 'number' placeholder = "The extent of variation of population" id = "sd_singlepopulation"
                                            ng-model="sd" ng-change="populationplot();samplesetplot()" min = 0>
                              </div><hr/>
                              <div class="form-group">
                                            <label>Estimated Mean</label>
                                            <div ng-repeat="samplemean in samplemeans|limitTo:1">
                                              <p name = "{{samplemean.name}}">{{samplemean.value}}&nbsp;(<span class = "text-muted">{{(samplemean.value - mean).toFixed(2)}}</span>)</p>
                                            </div>
                              </div>
                              <div class="form-group">
                                            <label>Estimated Standard Deviation </label>
                                            <div ng-repeat="samplesd in samplesds|limitTo:1">
                                              <p name = "{{samplesd.name}}">{{samplesd.value}}&nbsp;(<span class = "text-muted">{{(samplesd.value - sd).toFixed(2)}}</span>)</p>
                                            </div>
                              </div>
                            </div>
                            <div class = 'col-lg-9'>
                              <div id="populationplot_singlepopulation"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6" align="center">
                      <input id="samplesize_singlepopulation" type="number" data-slider-min="2" data-slider-max="500" data-slider-step="1" data-slider-value="5" style =
                      "display:inline" ng-model="n"/><span><strong> Sample Size: <span id="samplesize_display_singlepopulation">5</span></strong></span>
                    </div>
                    <!--<div class="col-lg-4">
                      <input type="checkbox" ng-model="sampleoneatatime"> <strong>Sample One At a Time?</strong>
                    </div>-->
                    <div class="col-lg-6" align="center">
                      <input id="sampletimes_singlepopulation" type="number" data-slider-min="1" data-slider-max="100" data-slider-step="99" data-slider-value="1" style =
                      "display:inline" ng-model='repeat' ng-change="toggle_display_bottom()"/><span><strong> Repeat Time: <span id="sampletimes_display_singlepopulation">1</span></strong></span>
                    </div>
                  </div>
                  <br /><br />
                  <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="samplepopulation()">Let's Sample!</button>
                  <br /><br />
                  <div  ng-show='displaybottom'>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                      <i class="fa fa-stack-overflow"></i> Samples
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class = 'col-lg-12'>
                                <div class="row">
                                  <div class = 'col-lg-3'>
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                                      <label>Estimated Mean(s)</label>
                                        </div>
                                      </div>
                                      <div class="col-lg-6">
                                                      <label>Estimated Standard Deviation(s) </label>
                                        </div>
                                      </div>
                                      <div class="row pre-scrollable" style="overflow-y: auto;">
                                        <div class="col-lg-6">
                                                      <div ng-repeat="samplemean in samplemeans">
                                                        <p name = "{{samplemean.name}}" ng-mouseover="setSelected(samplemean.name)">
                                                          <span ng-class="{selected : samplemean.name === sampleselected}">{{samplemean.value}}</span>
                                                          &nbsp;<span class = "text-muted" ng-show="samplemean.name === sampleselected">({{(samplemean.value - mean).toFixed(2)}})</span>
                                                          </p>
                                                      </div>
                                        </div>
                                        <div class="col-lg-6">
                                          <div class="form-group">
                                                      <div ng-repeat="samplesd in samplesds">
                                                        <p name = "{{samplesd.name}}" ng-mouseover="setSelected(samplesd.name)"></p>
                                                          <span ng-class="{selected : samplesd.name === sampleselected}">{{samplesd.value}}</span>
                                                          &nbsp;<span class = "text-muted" ng-show="samplesd.name === sampleselected">({{(samplesd.value - sd).toFixed(2)}})</span>
                                                      </div>
                                        </div>
                                      </div>
                                    </div><br />
                                  </div>
                                  <div class="col-lg-9">
                                    <div id="samplesetplot_singlepopulation"></div>
                                  </div>
                                </div><br/><br/>
                                <div class="row">
                                  <div class="col-lg-3">
                                    <div ng-show = "tol_setting_show">
                                      <div class="row">
                                        <div class="col-lg-6">
                                          Step: <input type="number" ng-model="tol_step" ng-change= "refresh_tol_singlepopulation();"/>
                                        </div>
                                        <div class="col-lg-6">
                                          Max: <input type="number" ng-model="tol_max" ng-change= "refresh_tol_singlepopulation();"/>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                        <div class="form-group" align="center">
                                          <i class="fa fa-gear text-muted" ng-click="toggle_tol_setting_singlepopulation()"></i>
                                                  <input type = 'number' id = "tol_singlepopulation" ng-model="tol" ng-change="samplesetplot();"
                                                  data-slider-min="0" data-slider-max="{{tol_max}}" data-slider-step="{{tol_step}}" data-slider-value="3" style ="display:inline">
                                                  <span><strong> Error tolerance: <span>{{tol}}</span></strong></span>
                                                  <em class="text-muted">[{{(mean - tol).toFixed(2)}}, {{(mean + tol).toFixed(2)}}]</em>
                                        </div>
                                      </div>
                                </div>
                                <div class="row">
                                  <div class="col-lg-4 col-lg-offset-4">
                                    <h2  align="center">{{count_perc}}%</h2>
                                  </div>
                                  <div class="col-lg-2 col-lg-offset-2">
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#powermodal">{{toggle_display_power_text}}</button>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <hr />
                  </div>
<div class="modal fade" id="powermodal" tabindex="-1" role="dialog" aria-labelledby="powerlabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="powerlabel"><i class="fa fa-lightbulb-o"></i> How many samples do I need?</h4>
      </div>
      <div class="modal-body">
        <div class="row">
                                    <div class="col-lg-3" style="height: 500px">
                                      <br />
                                      <label>Sample size range: </label>
                                      <div class="row">
                                        <div class="col-lg-4">
                                          <input class="form-control" placeholder="from"  type = "number" ng-model="powersamplerangemin" min = 2>
                                        </div>
                                        <div class="col-lg-4">
                                          <input class="form-control" placeholder="to"  type = "number" ng-model="powersamplerangemax" min = "{{powersamplerangemin}}">
                                        </div>
                                        <div class="col-lg-4">
                                          <input class="form-control" placeholder="step"  type = "number" ng-model="powersamplerangestep"
                                          min = 0 max = "{{powersamplerangemax-powersamplerangemin}}">
                                        </div>
                                      </div>
                                      <label>Mean: </label>
                                      <input class="form-control" type = "number" placeholder="Average of population" ng-model="powermean">
                                      <label>Standard Deviation (range): </label>
                                      <div class="row">
                                        <div class="col-lg-4">
                                          <input class="form-control" type = "number" placeholder="Minimum sd" ng-model="powersdmin" min = 0>
                                        </div>
                                        <div class="col-lg-4">
                                          <input class="form-control" type = "number" placeholder="Maximum sd" ng-model="powersdmax" min = "{{powersamplesdmin}}">
                                        </div>
                                        <div class="col-lg-4">
                                          <input class="form-control" type = "number" placeholder="step" ng-model="powersdstep" min = 0 max="{{powersdmax - powersdmin}}">
                                        </div>
                                      </div>
                                      <label>Error Tolerance: </label>
                                      <input class="form-control" type = "number" placeholder="Tolerable error" ng-model="powertol" min = 0>
                                      <br />

                                        <button type="button" class="btn btn-outline btn-success btn-sm btn-block" ng-click="powerplot();">Draw plot</button>
                                    </div>
                                    <div class="col-lg-9">
                                      <div id="powerplot_singlepopulation"></div>
                                    </div>
                                  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
                 <!-- <div>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            How many samples do I need?
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-lg-3">
                              <br />
                              <label>Sample size range: </label>
                              <div class="row">
                                <div class="col-lg-4">
                                  <input class="form-control" placeholder="from"  type = "number" ng-model="powersamplerangemin" min = 2>
                                </div>
                                <div class="col-lg-4">
                                  <input class="form-control" placeholder="to"  type = "number" ng-model="powersamplerangemax" min = "{{powersamplerangemin}}">
                                </div>
                                <div class="col-lg-4">
                                  <input class="form-control" placeholder="step"  type = "number" ng-model="powersamplerangestep"
                                  min = 0 max = "{{powersamplerangemax-powersamplerangemin}}">
                                </div>
                              </div>
                              <label>Mean: </label>
                              <input class="form-control" type = "number" placeholder="Average of population" ng-model="powermean">
                              <label>Standard Deviation (range): </label>
                              <div class="row">
                                <div class="col-lg-4">
                                  <input class="form-control" type = "number" placeholder="Minimum sd" ng-model="powersdmin" min = 0>
                                </div>
                                <div class="col-lg-4">
                                  <input class="form-control" type = "number" placeholder="Maximum sd" ng-model="powersdmax" min = "{{powersamplesdmin}}">
                                </div>
                                <div class="col-lg-4">
                                  <input class="form-control" type = "number" placeholder="step" ng-model="powersdstep" min = 0 max="{{powersdmax - powersdmin}}">
                                </div>
                              </div>
                              <label>Error Tolerance: </label>
                              <input class="form-control" type = "number" placeholder="Tolerable error" ng-model="powertol" min = 0>
                              <br />

                                <button type="button" class="btn btn-outline btn-success btn-sm btn-block" ng-click="powerplot();">Draw plot</button>
                            </div>
                            <div class="col-lg-9">
                              <div id="powerplot_singlepopulation"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>-->
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->


    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
