<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WCMC Course</title>

    <!-- JQuery and Opencpu JS -->
    <script src="js/jquery-3.1.0.min.js"></script>
    <!--<script src="js/opencpu-0.5.js"></script>
    <script src="js/opencpu.js"></script>-->
    <script src="js/angular.js"></script>
    <script src="js/plotly-latest.min.js"></script>
    <script src="js/gaussian.js"></script>

    <!-- Bootstrap Core CSS and JS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>

    <!-- Templates -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Side-Bar CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet"><!--making the sidebar collapsible-->

    <!-- Other -->
    <script src="js/bootstrap-slider.min.js"></script><!--http://seiyria.com/bootstrap-slider/-->
    <link href="css/bootstrap-slider.min.css" rel="stylesheet"><!--http://seiyria.com/bootstrap-slider/-->
    <script src="js/statistics-distributions.js"></script><!--Statistical Distribion-->
    <script src="js/math.js"></script><!--For matrix operation-->
    <script src="js/canvasjs.min.js"></script><!--Plot-->


    <!-- My JS -->
    <script src="js/myJS.js"></script>
    <script src="js/Two_Population.js"></script>
    <!-- My CSS -->
     <link href="css/Two_Population.css" rel="stylesheet"><!--making the sidebar collapsible-->


</head>

<body  ng-app="populationplot_twopopulation" ng-controller="populationplotctrl_twopopulation"   style = 'font-family: "Trebuchet MS", Arial, Helvetica, Tahoma, sans-serif;' >
    <div id="wrapper"  class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="font-size:80%;">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        WCMC Statistics Course
                    </a>
                </li>
                <li>
                  <a ha href="javascript:;" data-toggle="collapse" data-target="#bionw"> How Many Samples Do We Need? </a>
                  <ul id="bionw" class="collapse">
                    <li><a href="Single_Population.html"><i class="fa fa-angle-double-right"></i> Single Population</a></li>
                    <li><a href="Two_Population.html"><i class="fa fa-angle-double-right"></i> Two Populations</a></li>
                    <li><a href="Sample_Size.html"><i class="fa fa-key"></i> Sample Size Calculator</a></li>
                  </ul>
                </li>
                <li>
                    <a href="Univariate_Analysis.html">Univariate Analysis</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-navicon"></i></a>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12">
                      <h1>Two Populations</h1>
                      <p class = 'text-muted'> In many cases we would like to compare two populations. For example, we may determine whether (average) salaries differs between males and females.  In statistics, <em>student t test</em> and <em>Mann-Whitney U test</em> are two common methods of testing for difference between two populations.</p><br /><br />
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class = "fa fa-dashboard"></i> Population
                        </div>
                        <div class="panel-body">
                          <div class="row">
                            <div class = 'col-lg-3'>
                              <div class="form-group">
                                            <label>Minimum Value</label>
                                            <input class="form-control" type = 'number' placeholder = "The possible smallest value of the population" id = "smallestvalue_twopopulation"
                                            ng-model = "min" ng-change="populationplot()">
                              </div>
                              <div class="form-group">
                                            <label>Maximum Value</label>
                                            <input class="form-control" type = 'number' placeholder = "The possible largest value of the population" id = "largestvalue_twopopulation"
                                            ng-model = "max" ng-change="populationplot()">
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group">
                                                <label>Mean1</label>
                                                <input class="form-control" type = 'number' placeholder = "first population average" id = "mean1_twopopulation"
                                                ng-model = "mean1" ng-change="populationplot()">
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                                <label>Mean2</label>
                                                <input class="form-control" type = 'number' placeholder = "second population average" id = "mean2_twopopulation"
                                                ng-model="mean2" ng-change="populationplot();">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group">
                                                <label>Standard Deviation1</label>
                                                <input class="form-control" type = 'number' placeholder = "first population variation" id = "sd1_twopopulation"
                                                ng-model="sd1" ng-change="sd2equaltosd1();populationplot();">
                                  </div>
                                </div>
                                <div class="col-lg-6">
                                  <div class="form-group">
                                                <label>Standard Deviation2</label>
                                                <input class="form-control" type = 'number' placeholder = "second population variation" id = "sd2_twopopulation"
                                                ng-model="sd2" ng-change="populationplot()" ng-disabled="equal_sd">
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="checkbox" style="margin-top: 0px;">
                                                <label>
                                                    <input type="checkbox" ng-model="equal_sd" ng-init="equal_sd=true" ng-click="sd2equaltosd1();populationplot();"> Equal standard deviation?
                                                </label>
                                            </div>
                              </div><hr />
                              <div class="row">
                                <div class="col-lg-6">
                                  <label>True Effect Size</label><span> <a href="http://rpsychologist.com/d3/cohend/" target="_blank"><i class="fa fa-question-circle"></i></a></span>
                                  <p>{{((mean2-mean1)/((sd1+sd2)/2)).toFixed(2)}}</p>
                                </div>
                                <div class="col-lg-6">
                                  <label>Estimated Effect Size</label>
                                            <div ng-repeat="sampleeffectsize in sampleeffectsizes|limitTo:1">
                                              <p>{{(sampleeffectsize).toFixed(2)}}&nbsp;(<span class = "text-muted">{{(sampleeffectsize - ((mean2-mean1)/((sd1+sd2)/2))).toFixed(2)}}</span>)</p>
                                            </div>
                                </div>
                              </div>
                              <div class="row col-lg-12" align="center">
                                <label>p value</label>
                                    <div ng-repeat="pvalue in pvalues|limitTo:1">
                                      <p>{{(pvalue).toFixed(5)}}</p>
                                    </div>
                              </div>
                            </div>
                            <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-12">
                                  <div  style="height:300px;" id="populationplot_twopopulation"></div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-12">
                                  <div  style="height:300px;" id="sampleplot_twopopulation"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6" align="center">
                      <input id="samplesize_twopopulation" type="number" data-slider-min="4" data-slider-max="100" data-slider-step="1" data-slider-value="5" style =
                      "display:inline" ng-model="n"/><span><strong> Sample Size: <span id="samplesize_display_twopopulation">5</span></strong></span>
                    </div>
                    <div class="col-lg-6" align="center"  id="section2">
                      <input id="sampletimes_twopopulation" type="number" data-slider-min="1" data-slider-max="100" data-slider-step="99" data-slider-value="1" style =
                      "display:inline" ng-model="repeat" ng-change="toggle_display_bottom()"/><span><strong>  Repeat Time: <span id="sampletimes_display_twopopulation">1</span></strong></span>
                    </div>
                  </div>
                  <br /><br />
                  <a href="javascript:void(0);" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="samplepopulation()" id="sampletrigger">Let's Sample!</a>
                  <br /><br />
                  <div class="row">
                    <div class = 'col-lg-12'>
                      <div   ng-show='displaybottom' style="height:1000px;">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <i class="fa fa-stack-overflow"></i> Samples
                        </div>
                        <div class="panel-body">
                            <div class="row">
                              <div class="col-lg-2">
                                    <center><button type="button" id="button_play" class="btn btn-primary btn-xl" ng-click='PlayPress()'>
                                      <i class="fa fa-pause"></i>
                                    </button></center>
                                  </div>
                              <div class = 'col-lg-8'>
                                <div id="samplesetplot_twopopulation" style="height:500px"></div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-lg-4 col-lg-offset-4">
                                        <div class="form-group" align="center">
                                                  <input type = 'number' id = "alpha_twopopulation" ng-model="alpha" ng-change="samplesetplot();"
                                                  data-slider-min="0.01" data-slider-max="0.2" data-slider-step="0.01" data-slider-value="0.05" style ="display:inline">
                                                  <span><strong> &alpha; =  <span>{{alpha}}</span></strong></span>
                                        </div>
                              </div>
                            </div>
                            <div class="row">
                                  <div class="col-lg-4 col-lg-offset-4">
                                    <h2  align="center" id = "count_perc"></h2>
                                  </div>
                                  <div class="col-lg-2 col-lg-offset-2">
                                    <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#powermodal">How many samples do I need?</button>
                                  </div>
                                </div>
                        </div>
                      </div>
                      </div>



                    </div>
                  </div>
<div class="modal fade" id="powermodal" tabindex="-1" role="dialog" aria-labelledby="powerlabel">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="powerlabel"><i class="fa fa-lightbulb-o"></i> How many samples do I need?</h4>
      </div>
      <div class="modal-body">
        <div class="row">
                      <div class="col-lg-3" style="height: 500px">
                        <br />
                        <label>Sample size range: </label>
                        <div class="row">
                          <div class="col-lg-4">
                            <input class="form-control" placeholder="from"  type = "number" ng-model="powersamplerangemin" min = 2>
                          </div>
                          <div class="col-lg-4">
                            <input class="form-control" placeholder="to"  type = "number" ng-model="powersamplerangemax" min = "{{powersamplerangemin}}">
                          </div>
                          <div class="col-lg-4">
                            <input class="form-control" placeholder="step"  type = "number" ng-model="powersamplerangestep"
                            min = 0 max = "{{powersamplerangemax-powersamplerangemin}}">
                          </div>
                        </div>
                        <label style='display:"inline"'>Effect size: </label><button addeffectsizes class="pull-right btn btn-default btn-xs btn-outline">
                          <i class="fa fa-plus"></i></button>
                        <div class="row">
                          <div class="col-lg-8">
                            <input class="form-control" type = "number" placeholder="" ng-model="powereffectsize" min = 0 step=0.05 id="effectsize0">
                          </div>
                          <div class="col-lg-3">
                            <button type="button" class="btn btn-primary btn-xs" ng-click = "powerdetermine();">
                              <i class="fa fa-angle-double-left"></i> {{powerdetermine_text}}</button>
                          </div>
                        </div>
                        <div class="well" ng-show="powershowdetermine"><!--to determine the effect size-->
                          <div class="row">
                            <div class="col-lg-6">
                              <label>Mean 1</label>
                              <input class="form-control" type = "number" placeholder="true average" ng-model="powermean1">
                            </div>
                            <div class="col-lg-6">
                              <label>Mean 1</label>
                              <input class="form-control" type = "number" placeholder="true average" ng-model="powermean2">
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <label>SD 1</label>
                              <input class="form-control" type = "number" placeholder="true sd" ng-model="powersd1" min = 0>
                            </div>
                            <div class="col-lg-6">
                              <label>SD 2</label>
                              <input class="form-control" type = "number" placeholder="true sd" ng-model="powersd2" min = 0>
                            </div>
                          </div>
                        </div>
                        <div id="addedpowersamplesizes_towpopulation"></div>
                        <label><em>&alpha;</em>: </label>
                        <input class="form-control" type = "number" placeholder="Significance level" ng-model="poweralpha"
                        ng-init="poweralpha=0.05" min = 0 step = "0.01">
                        <br />
                          <button type="button" class="btn btn-outline btn-success btn-sm btn-block" ng-click="powerplot();">Draw plot</button>
                      </div>

                                    <div class="col-lg-9">
                                      <div id="powerplot_twopopulation"></div>
                                    </div>
                                  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
      </div>
    </div>
  </div>
</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->


    <!-- /#wrapper -->


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
